<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.erning.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true" >
        <activity android:name=".activity.VideoActivity" android:configChanges="orientation|screenSize|keyboardHidden"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomCaptureActivity" />
        <activity android:name=".activity.ImageActivity" />
    </application>

</manifest>